*{
    padding: 0;
    margin: 0;
}

.content{
    width: 100%;
    background-image: url(assets/img/bg3.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
h1{
    font-family: sans-serif;
    font-weight: bold;
    text-align:center;
    font-size: 30px;
    position: relative;
    padding: 15px;
    background-color:#efeff3;

}
h1::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 5px;
    background-color: crimson;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    animation: animate 4s linear infinite;
 }
@keyframes animate{
    0%{
        width: 120px;
    }
    50%{
        width: 200px;
    }
    100%{
        width: 120px;
    }
}
.icon{
    width: 100%;
    margin-left: 30px;
    float: left;
    margin-top: -650px;
}
.form{
    width: 550px;
    height: 600px;

    background:linear-gradient(to top rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%);
    position: absolute;
    top: 300px;
    left: 900px;
    border: 10px;
    border-radius: 10px;
    padding: 50px;
    color: #fff;
}
#hed2{
    color:#fff;
    font-weight:bold;
    margin-top:-200px;
    margin-left: 400px;
    margin-bottom : 100px;
    font-size:30px;

}
#cmbusertype{
    width: 300px;
    font-size: 18px;
    color: black;
    font-weight:bold;
    background-color: transparent;
    margin : 8px;
    padding: 10px;
    border-radius: 20px;
}

.btnNext{
    width: 100px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: rgb(40, 85, 219);
    margin: 5px;
    padding: 5px;
    border-radius: 20px;
    transition: 0.4s;
}
.btnNext:hover{
    background-color: rgb(19, 7, 94);
}